<!DOCTYPE html>
<html>
<head>
    <title>Delete Student Performance</title>
</head>
<body>
    <h1>Удаление записи</h1>
    <p>Вы уверены, что хотите удалить эту запись?</p>
    <!-- начало формы, которая будет отправлять данные на сервер с помощью метода POST. 
    Это означает, что данные не будут видны в URL. -->
    <form method="post">
        <!-- генерирует уникальный токен, 
        который должен быть отправлен с формой, чтобы сервер мог проверить, что запрос был отправлен с вашего сайта. -->
        {% csrf_token %}
        <button type="submit">Удалить</button>
        <!-- генерирует URL -->
        <a href="{% url 'list_db' %}">Отмена</a>
    </form>
</body>
</html>
