<!DOCTYPE html>
<html>
<head>
    <title>Edit Student Performance</title>
</head>
<body>
    <h1>Редактировать успеваемость учащихся</h1>
    <form method="post">
        {% csrf_token %}
        <!-- Это Django шаблонный тег, который используется для отображения формы. Метод as_p преобразует поля формы в HTML-код, 
        оборачивая каждое поле в тег <p>. 
            Это позволяет автоматически генерировать HTML для всех полей формы, включая их метки и ошибки валидации.  -->
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>
