<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the Student Performance App</title>
</head>
<body>
    <h1>Добро пожаловать в приложение "Успеваемость студентов"</h1>
    <p>Для взаимодейтсвия с приложением используйте навигационные ссылки ниже:</p>
    <ul>
        <li><a href="{% url 'upload_xml' %}">Загрузить успеваемость учащихся</a></li>
        <li><a href="{% url 'list_xml' %}">Список XML-файлов</a></li>
        <li><a href="{% url 'upload_file' %}">Загрузить XML-файл</a></li>
        <li><a href="{% url 'list_db' %}">Список успеваемости студентов</a></li>
    </ul>
</body>
</html>