
<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Search</h1>
    <input type="text" id="search-input" placeholder="Enter search term">
    <ul id="search-results"></ul>

    <script>
        $(document).ready(function() {
            $('#search-input').on('input', function() {
                var query = $(this).val();
                if (query.length > 2) {  // Минимальная длина запроса
                    $.ajax({
                        url: '{% url "search_text" %}',
                        data: {
                            'query': query
                        },
                        success: function(data) {
                            $('#search-results').empty();
                            $(data).find('result').each(function() {
                                var file = $(this).find('file').text();
                                var text = $(this).find('text').text();
                                $('#search-results').append('<li>' + file + ': ' + text + '</li>');
                            });
                        }
                    });
                } else {
                    $('#search-results').empty();
                }
            });
        });
    </script>
</body>
</html>
